<div id="new_proposed_wagers">

  <%=form_for [@account, @proposed_wager] do |f|%>

    <div>
      <%=f.label :amount, "I want to bet $"%><br/>
      <%=f.text_field :amount%>
    </div>

    <div>
      <%=f.label :wageree_id, "With:"%><br/>
      <%=f.collection_select :wageree_id, @list_of_users, :id, :username%>
    </div>

    <div>
      <%=f.label :title, "On: " %><br/>
      <%=f.text_field :title%>
    </div>

    <div>
      <%=f.label :date_of_wager, "Date of Wager"%><br/>
      <%=f.date_field :date_of_wager %>
    </div>

    <div>
      <%=f.label :details %><br/>
      <%=f.text_field :details%>
    </div>


    <br/>
    <div>
      <%=f.submit "Submit"%>
      <%=link_to "Cancel", user_path(kenny_loggins)%>
    </div>


  <%end%>

</div>