<div id="new_proposed_wagers">

  <%=form_for @proposed_wager do |f|%>
    <div>
      <%=f.label :title %>
      <%=f.text_field :title%>
    </div>
    <div>
      <%=f.label :date_of_wager, "Date of Wager"%>
      <%=f.date_field :date_of_wager %>
    </div>
    <div>
      <%=f.label :details %>
      <%=f.text_field :details%>
    </div>
    <div>
      <%=f.label :amount%>
      <%=f.text_field :amount%>
    </div>
    <div>

      <%=f.label :wageree_id%>
      <%=f.collection_select :wageree_id, @list_of_users, :id, :username%>

    </div>


    <%=f.submit "Submit"%>
  <%end%>

</div>