<div id="edit_users">

    <h1>Update Your Profile</h1>

    <%if @user.errors.any?%>
      <p class="errors">Your updates can not be saved</p>
      <br/>
      <br/>
    <%end%>

    <%=form_for @user  do |f|%>
      <div id="email">
        <%=f.label :email%><br/>
        <%=f.text_field :email%>
        <div class="errors"><%=@user.errors[:email].first if @user.errors[:email].any? %></div>
      </div>

      <div id="password">
        <%=f.label :password, "New Password"%><br/>
        <%=f.text_field :password, type:"password"%>
        <div class="errors"><%=@user.errors[:password].first if @user.errors[:password].any? %></div>
      </div>

      <div id="profile_picture">
        <%=f.label :profile_picture%><br/>
        <%=f.text_field :profile_picture%>
      </div>
      <br/>
      <%=f.submit "Submit"%>
      <%=link_to "Cancel", user_path(kenny_loggins)%>

    <%end%>

  </div>
