



<div id="new_users" class="container-fluid">

    <h1>Register Here</h1>

      <%if @user.errors.full_messages.any?%>
        <p class="errors">You're registration can not be completed</p>
        <br/>
        <br/>
      <%end%>

    <%=form_for @user, html: {class: "form-horizontal col-xs-11 col-sm-4 col-md-3 registration"}, role:"form" do |f|%>
      <div class="form-group">
        <%=f.label :username%><br>
        <%=f.text_field :username, class:"form-control"%>
        <div class="errors"><%=@user.errors[:username].first if @user.errors[:username].any? %></div>
      </div>

      <div class="form-group">
        <%=f.label :email%><br/>
        <%=f.email_field :email, class:"form-control"%>
        <div class="errors"><%=@user.errors[:email].first if @user.errors[:email].any? %></div>

      </div>

      <div class="form-group">
        <%=f.label :password%><br/>
        <%=f.text_field :password, type:"password", class:"form-control"%>
        <div class="errors"><%=@user.errors[:password].first if @user.errors[:password].any? %></div>

      </div>

      <div class="form-group">
        <%=f.label :profile_picture%><br/>
        <%=f.text_field :profile_picture, class:"form-control"%>
      </div>
      <br/>

      <div class="form-group">
        <%=f.submit "Submit", class:"btn btn-success"%>
        <%=link_to "Cancel", root_path%>
      </div>
  <%end%>
</div>
