<div id="new_users">

    <h1>Register Here</h1>

    <ul>
      <%@user.errors.full_messages.each do |message|%>
        <li style="color:red"><%=message%></li>
      <%end%>
    </ul>

    <%=form_for @user do |f|%>
      <%=f.label :username%><br/>
      <%=f.text_field :username%><br/>

      <%=f.label :ssn, "SSN"%><br/>
      <%=f.text_field :ssn%><br/>

      <%=f.label :email%><br/>
      <%=f.email_field :email%><br/>

      <%=f.label :password%><br/>
      <%=f.text_field :password%><br/>

      <%=f.label :profile_picture%><br/>
      <%=f.text_field :profile_picture%><br/>

      <%=f.submit "Submit"%>
      <%=link_to "Cancel", "/"%>
    <%end%>


</div>