<div id="show_users">
  <div class="activity-links row">
    <%=link_to "Fund My Account", new_account_deposit_path(@account)%> |
    <%=link_to "Distribute Funds", new_account_distribution_path(@account)%> |
    <%=link_to "Create a Wager", new_account_proposed_wager_path(@account)%> |
    <%=link_to "Show Deposit History", account_deposits_path(@account)%> |
    <%=link_to "Show Distribution History", account_distributions_path(@account)%>
  </div>

  <h3>Net Activity</h3>

  <table class="table table-bordered" >
    <thead class="header">
    <td>Deposits</td>
    <td>- Distributions</td>
    <td>+/- Wagers</td>
    <td>+/- Winnings</td>
    <td>Net Amount</td>
    </thead>
    <tbody>
    <tr>
      <td id="deposits">$<%=@deposit_total%>  </td>
      <td id="distributions">$<%=@distribution_total%>--- Chips:<%=@distributed_chips.count%></td>
      <td id="wagers">$<%=@wagered_total%>--- Chips:<%=@wagered_chips.count%></td>
      <td id="winnings">$<%=@winnings_total%>--- Chips:<%=@winnings_chips.count%></td>
      <td id="net_amount">$<%=@net_amount%> ---- Chips:<%=@unallocated_chips.count%></td>
    </tr>
    </tbody>
  </table>

  <br/>
  <h3>Proposed Wagers</h3>
  <table class="table table-striped table-bordered" id="proposed_wagers_table">
    <thead class="header">
    <th>Type</th>
    <th>I Bet</th>
    <th>With</th>
    <th>On </th>
    <th>Date</th>
    <th>Status</th>
    <th>Action</th>

    </thead>
    <tbody>

    <%@proposed_wagers.each do |proposed_wager|%>

      <tr>
        <td>My Proposed Wagers</td>
        <td><%=proposed_wager.amount / 100 %></td>
        <td><%=User.find_by(id: proposed_wager.wageree_id).username%></td>
        <td><%=link_to proposed_wager.title%></td>
        <td><%=proposed_wager.date_of_wager %></td>
        <td><%=proposed_wager.status %></td>

        <%if proposed_wager.wageree_outcome == "Lose"%>
          <td>You Won!</td>
        <%elsif proposed_wager.wagerer_outcome == "Lose"%>
            <td>You Lost!</td>
        <%else%>
          <%if proposed_wager.status != "accepted"%>
            <td><%=link_to "Withdraw", [proposed_wager.account, proposed_wager], {method: :delete}%> </td>
          <%else%>
            <%=form_for [proposed_wager.account, proposed_wager] do |f|%>
              <td>
                <%=f.submit "Win"%>
                <%=f.submit "Lose"%>
                <%=f.submit "Draw"%>
              </td>
            <%end%>
          <%end%>
        <%end%>
      </tr>
    <%end%>

    <%@wageree_wagers.each do |proposed_wager|%>
      <tr>
        <td>Proposed Wagers with me as the wageree</td>
        <td><%=proposed_wager.amount / 100%></td>
        <td><%=proposed_wager.account.user.username%></td>
        <td><%=link_to proposed_wager.title%></td>
        <td><%=proposed_wager.date_of_wager %></td>
        <td><%=proposed_wager.status %></td>
        <%if proposed_wager.wageree_outcome == "Lose"%>
          <td>You Lost!</td>
        <%else%>
          <%=form_for [proposed_wager.account, proposed_wager] do |f|%>
            <%if proposed_wager.status != "accepted"%>
              <td>
                <%=f.submit "Shake on it"%>
              </td>
            <%else%>
              <td>
                <%=f.submit "Win"%>
                <%=f.submit "Lose"%>
                <%=f.submit "Draw"%>
              </td>
            <%end%>
          <%end%>
        <%end%>
      </tr>
    <%end%>
    </tbody>
  </table>


</div>