<div id="show_users">
  <div class="container">

    <div class="row">
      <h3>Net Activity</h3>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="blue-bordered row">
          <div id="fund-my-account" class="header col-xs-7">
            Deposits
            <%=link_to "+", new_account_deposit_path(@account), class:"round-button"%>
          </div>
          <div id="deposits" class="contents col-xs-5" >
            $<%=@deposit_total%>
          </div>
        </div>

        <div class="blue-bordered row">
          <div id="wager-funds" class="header col-xs-7">
            Active Wagers
            <%=link_to "+", new_account_proposed_wager_path(@account), class:"round-button"  %>
          </div>
          <div id="wagers" class="contents col-xs-5" >
            $<%=@wagered_total%>
          </div>
        </div>

        <div class=" blue-bordered row">
          <div id="distribute-funds" class=" header col-xs-7">
            Distributions
            <%=link_to "+", new_account_distribution_path(@account), class:"round-button"%>
          </div>
          <div id="distributions" class="contents col-xs-5" >
            $<%=@distribution_total%>
          </div>
        </div>

        <div class=" blue-bordered row">
          <div class=" header col-xs-7">
            Winnings
          </div>
          <div id="winnings" class="contents col-xs-5" >
            $<%=@winnings_total%>
          </div>
        </div>

        <div class=" blue-bordered net-amount row">
          <div class="header col-xs-7">
            Net Amount
          </div>
          <div id="net_amount" class="contents col-xs-5" >
            <b>$<%=@net_amount%></b>
          </div>
        </div>

      </div>
    </div>

    <br/>


    <div class='row'>
    <div class="col-md-8">

      <% if @proposed_wagers.count > 0 %>

        <div class="row">
          <h3>Wagers</h3>
        </div>

        <div id="proposed_wagers_table" class="row">
          <% @proposed_wagers.each do |proposed_wager| %>
            <div class="wager-border" data-attribute-status=<%= proposed_wager.status %> data-attribute-date=<%= (proposed_wager.date_of_wager - Date.today).to_i %>>

              <div class="wager-title">
                <div class="expand-icon glyphicon glyphicon-th-list"></div>
                <div class="outcome-flag"></div>
                <% if kenny_loggins.account == proposed_wager.account %>
                  <%= "I bet #{User.find_by(id: proposed_wager.wageree_id).username.capitalize} $#{proposed_wager.amount / 100} on #{proposed_wager.title}" %>
                <% else %>
                  <%= "#{User.find_by(id: proposed_wager.account.user_id).username.capitalize} bet me $#{proposed_wager.amount / 100} on #{proposed_wager.title}" %>
                <% end %>
              </div>

              <div class="wager-details">
                Date: <%= proposed_wager.date_of_wager %> |
                Status: <%= proposed_wager.status %>
                <% if proposed_wager.details == nil || proposed_wager.details == "" %>
                <% else %>
                  <br/>
                  <i>Details: <%= proposed_wager.details %></i>
                <% end %>
              </div>

              <div class="wager-actions">
                <% if proposed_wager.winner_id %>
                  <div class="outcome">
                    <% if kenny_loggins.id == proposed_wager.winner_id %>
                      I Won!
                    <% else %>
                      I Lost!
                    <% end %>
                  </div>
                  <% if kenny_loggins.account == proposed_wager.account %>
                    <%= link_to "Rematch?", new_account_proposed_wager_path(proposed_wager.account, pwid: proposed_wager) %>
                  <% else %>
                    <%= link_to "Rematch?", new_account_proposed_wager_path(@account, pwid: proposed_wager) %>
                  <% end %>
                <% else %>
                  <% if kenny_loggins.account == proposed_wager.account %>
                    <% if proposed_wager.status != "accepted" %>
                      <%= link_to "Withdraw", [proposed_wager.account, proposed_wager], {method: :delete, class: "btn btn-primary btn-xs"} %>
                    <% else %>
                      <%= form_for [proposed_wager.account, proposed_wager] do |f| %>
                        <%= f.submit "I Lost", class: "btn btn-primary btn-xs" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_for [proposed_wager.account, proposed_wager] do |f| %>
                      <% if proposed_wager.status != "accepted" %>
                        <%= f.submit "Shake on it", class: "btn btn-xs btn-success" %>
                      <% else %>
                        <%= f.submit "I Lost", class: "btn btn-xs btn-primary" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <br/>

      <% end %>
      <div id="chip-count">
        <b>CHIP COUNT</b>

        <div id="dist-chips">DISTRIBUTED Chips:<%= @distributed_chips.count %></div>
        <div id="wagered-chips">WAGERS Chips:<%= @wagered_chips.count %></div>
        <div id="net-chips">NET Chips:<%= @unallocated_chips.count %></div>
      </div>
    </div>
    </div>
  </div>
</div>
