<div id="new_distributions">

  <%=form_for @distribution do |f|%>
  <div>
    <input type="hidden" name="account_id" value="<%=@account.id%>"/>
    <%=f.label :amount%>
    <%=f.text_field :amount%>
    <%=f.label :charity_id%>
    <%=f.collection_select :charity_id, Charity.all, :id, :name%>
    <%=f.submit "Submit"%>
  </div>


  <%end%>

</div>