<div id="new_distributions">

  <%=form_for @distribution do |f|%>
  <div>
    <input type="hidden" name="account_id" value="<%=@account.id%>"/>
    <%=f.label :amount%>
    <%=f.text_field :amount%>
    <%=f.label :charity_id%>
    <%=f.collection_select :charity_id, Charity.all, :id, :name%>
    <%=f.submit "Submit"%>
  </div>


  <%end%>



  <!--<form method="POST" action="/distributions">-->
    <!--<input type="hidden" name="account_id" value="< %=@account.id%>"/>-->
    <!--<label for="amount">Amount:</label><br/>-->
    <!--<input id= "amount" name="amount"/><br/>-->
    <!--<label for="charity_dd">Select a Charity</label><br/>-->
    <!--<select id="charity_dd" name="charity_dd">-->
      <!--< %@charities_for_selection.each do |charity_hash|%>-->
        <!--<option value="< %=charity_hash.id%>">< %=charity_hash.name%></option>-->
      <!--< %end%>-->
    <!--</select>-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<button>Submit</button>-->
  <!--</form>-->



</div>