<div id="new_distributions">


  <h3>Give to a Charity</h3>
  <%=form_for [@account, @distribution], html: {class: "form-horizontal col-xs-8 col-md-3"}, role:"form"  do |f|%>
    <div class="form-group">
      <%=f.label :amount%>
      <%=f.text_field :amount, class:"form-control", placeholder: "$10 increments"%>
      <div class="errors">
        <%=flash[:amount] if flash[:amount]%>
      </div>

    </div>
    <div class="form-group">
      <%=f.label :charity_id%><br>
      <%=f.collection_select :charity_id, Charity.all, :id, :name, {}, class:"form-control"%>
    </div>
    <div class="form-group">
      <%=f.submit "Submit", class:"btn btn-success", data: { disable_with: "Please Wait..." }%>
      <%=link_to "Cancel", dashboard_path%>
    </div>

  <%end%>



</div>
