<div id="new_distributions">

  <%=form_for [@account, @distribution] do |f|%>
    <div>
      <%=f.label :amount%><br/>
      <%=f.text_field :amount%>
    </div>
    <br/>
    <div>
      <%=f.label :charity_id%><br/>
      <%=f.collection_select :charity_id, Charity.all, :id, :name%>
    </div>
    <br/>
    <div>
      <%=f.submit "Submit"%>
      <%=link_to "Cancel", user_path(current_user)%>
    </div>


  <%end%>

</div>