<h1>Where are my dollars?</h1>

<%= kenny_loggins.first_name %>

<hr/>

<table class="tbl tbl-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> MyDeposits</td>
      <td>$<%=@dashboard.sum_of_deposits(kenny_loggins)%></td>
    </tr>

    <tr>
      <td> - My Active Wagers</td>
      <td>$<%=@dashboard.sum_of_wagered(kenny_loggins)%></td>
    </tr>

    <tr>
      <td> - My Direct Distributions</td>
      <td>$<%=@dashboard.sum_of_distributions(kenny_loggins)%></td>
    </tr>

    <tr>
      <td> + Gains from Wagers </td>
      <td>$<%=@dashboard.sum_of_gains(kenny_loggins)%></td>
    </tr>

    <tr>
      <td> - Losses from Wagers </td>
      <td>$<%="(#{@dashboard.sum_of_losses(kenny_loggins)})"%></td>
    </tr>

      <tr>
        <td> - Someone Else's Account</td>
        <td class="losses-in-others-accounts">$<%=@dashboard.sum_of_losses_in_others_accounts(kenny_loggins)%></td>
      </tr>
      <tr>
        <td> - Distributed to a Charity by Someone Else</td>
        <td class="losses-distributed">$<%=@dashboard.sum_of_distributed_losses(kenny_loggins)%></td>
      </tr>

    <tr>
      <td>Net Balance In My Account</td>
      <td>$<%=@dashboard.sum_of_net_amount(kenny_loggins)%></td>
    </tr>




  </tbody>
</table>

