<h1>Log an MVP</h1>


<%=form_for @mvp do |f|%>

  <div>
    <%=f.label :date%><br/>
    <%=f.date_field :date%>
  </div>

  <div>
    <%=f.label :description%><br/>
    <%=f.text_field :description%>
  </div>
  <br/>
  <div>
    <%=f.submit "Submit"%>
    <%= link_to "Cancel", root_path%>
  </div>
<%end%>

