<div id="new_proposed_wagers">
  <h3>Create a Wager</h3>

  <%if @wager.errors.full_messages.any?%>
    <p class="errors">Your wager can not be completed</p>
    <br/>
    <br/>
  <%end%>


  <%=form_for @wager, url: user_wagers_path, html: {class: "form-horizontal col-xs-12 col-md-3"}, role:"form"  do |f|%>

    <div class="form-group">
      <%=f.label :amount, "I want to bet:"%><br/>
      <%=f.text_field :amount, class:"form-control", placeholder:"$ amount in $#{$ChipValue} increments"%>
      <div class="errors">
        <div class="errors"><%=@wager.errors[:amount].first if @wager.errors[:amount].any? %></div>

      </div>

    </div>

    <div class="form-group">
      <label for="wageree_username">With:</label><br/>
      <div class="input-group">
       <input type="text" class="form-control" name="wageree_username" id="wageree_username" value="<%=@wageree_username%>">
        <span class="input-group-addon question">?</span>
      </div>
      <div class="wager-notes">
          <b>You have 3 options here:</b>
          <div class="color-notes"><b>Leave blank</b> to create a public wager that any one can accept.</div>
          <div class="plain-notes"><b>Input a registered user's username or email</b> to assign the wager to a specific person.</div>
          <div class="color-notes"><b>Put in a non-registered friend's email.</b>  Upon submission, an email will be sent to your friend asking them to join Charity-x and accept your wager.</div>
      </div>

    </div>





    <div class="form-group">
      <%=f.label :title, "That: " %><br/>
      <%=f.text_field :title, class:"form-control", placeholder:"thing your wagering on"%>
      <div class="errors"><%=@wager.errors[:title].first if @wager.errors[:title].any? %></div>

    </div>

    <div class="form-group">
      <%=f.label :date_of_wager, "Date of Wager:"%><br/>
      <%=f.date_field :date_of_wager, class:"form-control"%>
      <div class="errors"><%=@wager.errors[:date_of_wager].first if @wager.errors[:date_of_wager].any? %></div>
    </div>

    <div class="form-group">
      <%=f.label :details, "Details:" %><br/>
      <%=f.text_area :details, class:"form-control"%>
    </div>

    <div class="form-group">
      <%=f.submit "Submit", class:"button button-submit", data: { disable_with: "Please Wait...", confirm: "You are about to create a wager.  Is the information correct?" }%>
      <%=link_to "Cancel", user_dashboard_path%>
    </div>


  <%end%>




</div>