<div id="index_charities">

  <%= link_to "Register a new charity", new_charity_path %>
  <%= link_to "Back to Home", root_path%>

  <table>
    <thead>
    <th>Name</th>
    <th>Tax ID</th>
    <th>POC</th>
    <th>POC Email</th>
    <th>Status</th>
    </thead>
    <tbody>
    <%@charities.each do |charity| %>
      <tr>
        <td><%=charity.name%></td>
        <td><%=charity.tax_id%></td>
        <td><%=charity.poc%></td>
        <td><%=charity.poc_email%></td>
        <td><%=charity.status%></td>
      </tr>
    <%end%>
    </tbody>
  </table>

</div>