<div id="new_charities">

<h1>Register Charity Here</h1>

 <%=form_for @charity do |f| %>

    <div>
      <%=f.label :name, "Charity Name"%>
      <%=f.text_field :name%>
    </div>
    <div>
      <%=f.label :tax_id, "Federal Tax ID"%>
      <%=f.text_field :tax_id%>
    </div>
    <div>
      <%=f.label :poc, "Primary POC"%>
      <%=f.text_field :poc%>
    </div>
    <div>
      <%=f.label :poc_email, "POC Email"%>
      <%=f.text_field :poc_email%>
    </div>
    <input type="hidden" name="status" value="unregistered"/>
    <%=f.submit "Submit"%>
    <%= link_to "Cancel", charities_path%>
  <%end%>



</div>