<div id="new_deposits">


  <%=form_for [@account, @deposit] do |f|%>
    <div>
      <%=f.label :amount%>
      <%=f.text_field :amount%>
    </div>
    <div>
      <%=f.label :cc_number, "Credit Card Number"%>
      <%=f.text_field :cc_number%>
    </div>

    <div>
      <%=f.label :exp_date, "Exp Date"%>
      <%=f.text_field :exp_date %>
    </div>

    <div>
      <%=f.label :name_on_card, "Name on Card"%>
      <%=f.text_field :name_on_card%>
    </div>

    <%= f.radio_button :cc_type, "Visa" %>
    <%= f.label :cc_type, "Visa", value:"visa" %>
    <%= f.radio_button :cc_type, "Mastercard" %>
    <%= f.label :cc_type, "Mastercard", value:"mastercard" %>

    <div>
      <%=f.submit "Submit"%>
    </div>


  <%end%>

</div>

