<div id="show_dashboards">
  <div class="container">

    <div class="row">
      <h3>Activity</h3>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="blue-bordered row">
          <div id="fund-my-account" class="header col-xs-7">
            Deposits
            <%=link_to "+", new_account_deposit_path(@account), class:"round-button"%>
          </div>
          <div id="deposits" class="contents col-xs-5" >
            $<%=@deposit_total%>
          </div>
        </div>

        <div class="blue-bordered row">
          <div id="wager-funds" class="header col-xs-7">
            Active Wagers
            <%=link_to "+", new_account_wager_path(@account), class:"round-button"  %>
          </div>
          <div id="wagers" class="contents col-xs-5" >
            $<%=@wagered_total%>
          </div>
        </div>

        <div class=" blue-bordered row">
          <div id="distribute-funds" class=" header col-xs-7">
            Distributions
            <%=link_to "+", new_account_distribution_path(@account), class:"round-button"%>
          </div>
          <div id="distributions" class="contents col-xs-5" >
            $<%=@distribution_total%>
          </div>
        </div>

        <div class=" blue-bordered row">
          <div class=" header col-xs-7">
            Winnings
          </div>
          <div id="winnings" class="contents col-xs-5" >
            $<%=@winnings_total%>
          </div>
        </div>

        <div class=" blue-bordered net-amount row">
          <div class="header col-xs-7">
            Net Amount
          </div>
          <div id="net_amount" class="contents col-xs-5" >
            <b>$<%=@net_amount%></b>
          </div>
        </div>

      </div>
    </div>

    <br/>


    <div class='row'>
    <div class="col-md-8">

      <% if @registered_wagers.count > 0 %>

        <div class="row">
          <h3>Wagers</h3>
        </div>

        <div id="proposed_wagers_table" class="row">
          <% @registered_wagers.each do |registered_wager| %>
            <div class="wager-border" data-attribute-status=<%= registered_wager.status %> data-attribute-date=<%= (registered_wager.date_of_wager - Date.today).to_i %>>

              <div class="wager-title">
                <div class="expand-icon glyphicon glyphicon-th-list"></div>
                <div class="outcome-flag"></div>
                <% if kenny_loggins.account == registered_wager.account %>
                  <%wageree = if registered_wager.wageree_id%>
                                  <%User.find_by(id: registered_wager.wageree_id).username%>
                              <%elsif registered_wager.non_registered_user%>
                                <%registered_wager.non_registered_user.email%>
                              <%else%>
                                <%"the Public"%>
                              <%end%>
                  <%= "I bet #{wageree} $#{registered_wager.amount / 100} that: #{registered_wager.title}." %>
                <% else %>
                  <%= "#{User.find_by(id: registered_wager.account.user_id).username} bet me $#{registered_wager.amount / 100} that: #{registered_wager.title}." %>
                <% end %>
                <% if registered_wager.status == "completed" || registered_wager.status == "declined"  || registered_wager.status == "expired"%>
                  <div id='archive-button' class="delete-icon glyphicon glyphicon-remove-sign" data-id=<%=registered_wager.id%> ></div>
                <%else%>
                  <div></div>
                <%end%>
               </div>

              <div class="wager-details">
                Date: <%= registered_wager.date_of_wager %> |
                Status: <%= registered_wager.status %>
                <% if registered_wager.details == nil || registered_wager.details == "" %>
                <% else %>
                  <br/>
                  <i>Details: <%= registered_wager.details %></i>
                <% end %>
              </div>

              <div class="wager-actions">
                <% if registered_wager.status == "completed" %>
                  <div class="outcome">
                    <% if kenny_loggins.id == registered_wager.winner_id %>
                      I Won!
                    <% else %>
                      I Lost!
                    <% end %>
                  </div>
                  <% if kenny_loggins.account == registered_wager.account %>
                    <%= link_to "Rematch?", new_account_wager_path(registered_wager.account, pwid: registered_wager) %>
                  <% else %>
                    <%= link_to "Rematch?", new_account_wager_path(@account, pwid: registered_wager) %>
                  <% end %>

                <% elsif registered_wager.status == "expired" %>
                    <div class="outcome">
                      Wager Expired Before It Was Accepted
                    </div>
                    <% if kenny_loggins.account == registered_wager.account %>
                      <%= link_to "Reissue?", new_account_wager_path(registered_wager.account, pwid: registered_wager) %>
                    <% else %>
                      <%= link_to "Reissue?", new_account_wager_path(@account, pwid: registered_wager) %>
                    <% end %>





                <% elsif registered_wager.status == "declined" %>
                  <div class="outcome">
                    Wager Not Accepted
                  </div>
                    <% if kenny_loggins.account == registered_wager.account %>
                      <%= link_to "Revise?", new_account_wager_path(registered_wager.account, pwid: registered_wager) %>
                    <% else %>
                      <%= link_to "Revise?", new_account_wager_path(@account, pwid: registered_wager) %>
                    <% end %>

                <% else %>
                  <% if kenny_loggins.account == registered_wager.account %>
                    <% if registered_wager.status == 'w/wageree' %>
                      <%= link_to "Withdraw", [registered_wager.account, registered_wager], {method: :delete, class: "btn btn-primary btn-xs"} %>
                    <% elsif registered_wager.status == "declined" %>
                    <%else%>
                      <%= form_for [registered_wager.account, registered_wager] do |f| %>
                        <%= f.submit "I Lost", class: "btn btn-primary btn-xs", data: { disable_with: "Please Wait..." } %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_for [registered_wager.account, registered_wager] do |f| %>
                      <% if registered_wager.status == 'w/wageree'%>
                        <%= f.submit "Shake on it", class: "btn btn-xs btn-success", data: { disable_with: "Please Wait..." } %>
                        <%= f.submit "No Thx!", class: "btn btn-xs btn-danger", data: { disable_with: "Please Wait..." } %>
                      <% elsif registered_wager.status == "declined" %>

                      <% else %>
                        <%= f.submit "I Lost", class: "btn btn-xs btn-primary", data: { disable_with: "Please Wait..." } %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
        <br/>

      <% end %>




      <% if @public_wagers.count > 0 %>

        <div class="row">
          <h3>Public Wagers</h3>
        </div>

        <div id="public-wagers" class="row">
          <% @public_wagers.each do |public_wager| %>
            <div class="wager-border" data-attribute-status=<%= public_wager.status %> data-attribute-date=<%= (public_wager.date_of_wager - Date.today).to_i %>>

              <div class="wager-title">
                <div class="expand-icon glyphicon glyphicon-th-list"></div>
                <div class="outcome-flag"></div>
                  <%= "#{User.find_by(id: public_wager.account.user_id).username} bet the Public $#{public_wager.amount / 100} that: #{public_wager.title}." %>
                <div id='archive-button' class="delete-icon glyphicon glyphicon-remove-sign" data-id=<%=public_wager.id%>></div>

              </div>

              <div class="wager-details">
                Date: <%= public_wager.date_of_wager %> |
                Status: <%= public_wager.status %>
                <% if public_wager.details == nil || public_wager.details == "" %>
                <% else %>
                  <br/>
                  <i>Details: <%= public_wager.details %></i>
                <% end %>
              </div>

              <div class="wager-actions">
                <% if public_wager.status == "expired" %>
                <div class="outcome">
                  Wager Expired Before It Was Accepted
                </div>
                <%else%>
                  <%= form_for [public_wager.account, public_wager] do |f| %>
                    <%= f.submit "Shake on it", class: "btn btn-xs btn-success", data: { disable_with: "Please Wait..." } %>
                  <% end %>
                <%end%>
              </div>
            </div>
          <% end %>

        </div>
        <br/>

      <% end %>

























      <div id="chip-count">
        <b>CHIP COUNT</b>

        <div id="dist-chips">DISTRIBUTED Chips:<%= @distributed_chips.count %></div>
        <div id="wagered-chips">WAGERS Chips:<%= @wagered_chips.count %></div>
        <div id="net-chips">NET Chips:<%= @unallocated_chips.count %></div>
      </div>
    </div>
    </div>
  </div>
</div>
