<div id="index_donation_processors">
<h3>User Distributions to Process</h3>


<table class="table table-hover table-striped">
<thead class="headers">
<th>Donor</th>
<th>Charity</th>
<th>Amount</th>
<th>Date Distributed</th>
<th>Check #</th>
<th>Date Check Cut</th>

  </thead>
<tbody>
<%@distributions.each do |distribution| %>
      <tr>
        <td><%= full_name(distribution.user) %></td>
        <td><%= distribution.charity.name %></td>
        <td>$<%= distribution.amount / 100%></td>
        <td><%= timezone_adjusted_datetime(distribution.created_at) %></td>
        <% if distribution.check_number%>

          <td><%= distribution.check_number%></td>
          <td><%= timezone_adjusted_datetime(distribution.date_cut)%></td>
      <% else %>

          <td><%=link_to "Cut Check", new_donation_processor_path(distribution_id: distribution.id), method: :get %>  </td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>








</div>





