<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>CharityX</title>


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">



  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">



</head>


<nav class="navbar navbar-color" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Charity-x </a>
    </div>

    <!--<i><small>< %="- #{kenny_loggins.username if kenny_loggins}"%></small></i>-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><%=link_to "Charities", charities_path%></li>







        <%if !kenny_loggins%>

          <li><%=link_to "Sign Up", new_user_path%></li>
        <%else%>
          <li><%=link_to "Dashboard", user_dashboard_path%></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show Me <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%=link_to "Giving Summary", user_giving_summary_path%></li>
              <li><%=link_to "My Deposit History", user_deposits_path(kenny_loggins)%></li>
              <li><%=link_to "My Distribution History", user_distributions_path(kenny_loggins)%></li>
            </ul>
          </li>
          <% if kenny_loggins.is_admin? %>
            <li class="dropdown admin">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%=link_to "Refresh Games", sports_games_path, {:method => :POST} %></li>
                <li><%=link_to "Refresh Outcomes", sports_games_outcomes_path%></li>
                <li><%=link_to "Process Donations", donation_processors_path %></li>
                <li><%=link_to "View Users", admin_users_path %></li>

              </ul>
            </li>
          <% end %>


          <li><%=link_to "Edit Profile", edit_user_profile_path%></li>
          <li><%=link_to "Logout", logout_path, {:method => :delete }%></li>

        <%end%>

      </ul>
      <%if !kenny_loggins%>

        <%@user = User.new%>

        <%=form_for @user, url: login_path, html: {class: "navbar-form navbar-right", role: 'form'}  do |f|%>
          <div class="form-group">
            <%=f.label :username, class:'sr-only'%>
            <%=f.text_field :username, placeholder: "username or email", class:'form-control'%>
          </div>
          <div class="form-group">
            <%=f.label :password, class:'sr-only'%>
            <%=f.text_field :password, placeholder: "password", class:'form-control', type:'password'%>
          </div>
          <%=f.submit "Login", class:'btn btn-default'%>
        <%end%>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to "Forgot Password", new_password_reset_path%></li>
        </ul>
      <%end%>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">

  <body>

<div class="container">
<div class="row-fluid">
  <div class="errors">
    <%if flash[:notice]%>
      <%= flash[:notice]%>
      <br/>
      <br/>
    <%end%>
  </div>
</div>
</div>
  <%= yield %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

  </body>
  <br/>
  <br/>

  <footer>

  </footer>

</div>

<br/>
</html>
