<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>CharityX</title>


  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="/style.css">-->

</head>

<div class="wrapper">
  <body>


  <section class="navbar">
    <article class="inline left nav_name">Charity Exchange</article>
    <article class="inline right">
      <article class="inline"> <a class="navbar_links" href= <%=charities_path%>>Charities</a> |</article>
      <article class="inline"> <a class="navbar_links"  href= <%=mvps_path%>>MVPs</a> |</article>
      <%if !kenny_loggins%>
        <article class="inline">
          <%@user = User.new%>
          <%=form_for @user, url: login_path do |f|%>
            <%=f.label :username%>
            <%=f.text_field :username%>

            <%=f.label :password%>
            <%=f.text_field :password%>

            <%=f.submit "Login"%>
          <%end%>
        </article>
        <article class="inline"><a class="navbar_links" href=<%=new_user_path%>>Sign Up</a></article>
      <%else%>
        <article class="inline">
          <a class="navbar_links" href=<%=user_path(kenny_loggins)%>>Account Details</a> |
        </article>
        <article class="inline">
          <a class="navbar_links" href=<%=edit_user_path(kenny_loggins)%>>Edit Profile</a> |
        </article>
        <article class="inline">
          <%= link_to "Logout", logout_path, {:method => :delete, class:"navbar_links" } %>
        </article>

      <%end%>
    </article>
  </section>

  <%= flash[:notice] if flash[:notice]%>
  <%= yield %>

  </body>
  <br/>
  <br/>

  <footer>

  </footer>

</div> <!--END content-->
<br/>
</html>
